:root {
  --main-color: #2f303a;
  --important-text-color: #212121;
  --common-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --important-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-main: #e5e5e5;
  --background-color-secondary: #f5f4fa;
  --borders-color: #eeeeee;
  --grid-item: 3;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--common-text-color);
}

ul.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

button {
  margin: 0;
  padding: 0;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

/* header styles */

header {
  background-color: var(--important-color);
  border-bottom: 1px solid #ececec;
}

.header-main {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.studio-up {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.logo-link {
  text-decoration: none;
}

.header-contacts {
  display: flex;
  color: var(--common-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: fill, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-set-icons {
  display: flex;
  fill: currentColor;
  margin-right: 10px;
}

.contacts-set .contacts-set-item:not(:first-child) {
  margin-left: 30px;
}

.contacts-set-item {
  display: flex;
  align-items: center;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

ul.list.contacts-set {
  display: inline-flex;
  margin-left: auto;
}

.site-nav {
  margin-left: 93px;
}

.site-nav,
.header-contacts {
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .nav-set-item:not(:first-child) {
  margin-left: 50px;
}

.navigation-set {
  display: flex;
}

.navigation-links {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: var(--important-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-links:hover,
.navigation-links:focus {
  color: var(--accent-color);
}

.navigation-links.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* main styles */

/* Modal window */

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  /* min-width: 530px;
  min-height: 580px; */
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: var(--important-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-button {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--important-color);
  justify-content: center;
  align-items: center;
  fill: var(--important-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}

.modal-form-window {
  padding: 40px;
}

.modal-header {
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 1.17;
  font-size: 20px;
  color: var(--important-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.input-user-data {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(16px, 35px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .input-user-data {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-field:focus-within > .label-icon {
  fill: var(--accent-color);
}

.form-field:focus-within > .modal-user-comment {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-field-checkbox {
  display: block;
  position: relative;
  text-align: end;
  margin-right: 11px;
}

.checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox-custom-icon {
  position: absolute;
  margin-left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-custom-icon {
  position: absolute;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}
.checkbox:focus-within + .checkbox-custom-icon {
  border: 2px solid var(--accent-color);
}

.link-conditions {
  color: var(--accent-color);
}
.submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--important-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  border: 1px solid var(--accent-color);
  text-align: center;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero Section styles */

.hero-section {
  background-color: var(--main-color);
  color: var(--important-color);
  margin-top: 0;
  text-align: center;
  height: 600px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 200px;
}

.overlay {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero_img.jpg);
}

.main-button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--important-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  border: 1px solid var(--accent-color);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 200px;
  box-shadow: 0 0 5px 3px #03050a9f;
  transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:active {
  box-shadow: inset 0 0 5px 3px #34495e;
}

/* Advantages section styles */

.advantages-section,
.work-section {
  background-color: var(--important-color);
}

.advantages-section {
  /* margin-bottom: 94px; */
}

.advantages-set .advantages-set-item:not(:first-child) {
  margin-left: 30px;
}

.advantages-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--important-text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.advantages-set-item .advantages-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-set-item::before {
  content: '';
  display: block;
  height: 120px;
  background-color: var(--background-color-secondary);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna_1.svg);
  background-size: 70px;
}

.icon-clock::before {
  background-image: url(../images/clock_1.svg);
  background-size: 70px;
}

.icon-diagramm::before {
  background-image: url(../images/diagram_1.svg);
  background-size: 70px;
}

.icon-astronaut::before {
  background-image: url(../images/astronaut_1.svg);
  background-size: 70px;
}

.advantages-set {
  --grid-item: 4;
}

/* Work section styles*/

.work-section-header,
.team-section-header,
.clients-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--important-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.work-section {
  padding-top: 0;
}

.work-set-item {
  position: relative;
}

.work-section-caption {
  position: absolute;
  text-align: center;
  padding-top: 27px;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 1;
  color: var(--important-color);
  text-transform: uppercase;
}

/* Team section styles*/

.team-section {
  background-color: var(--background-color-secondary);
}

.team-set {
  display: flex;
}

.team-set-item {
  display: block;
  text-align: center;
  background-color: var(--important-color);
  border: 1px solid var(--borders-color);
  border-radius: 6px;
  --grid-item: 4;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.teammates-names {
  color: var(--important-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.teammates-position {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.social-icons-set {
  display: inline-flex;
}

.social-icons-item {
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--common-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  fill: var(--important-color);
  background-color: var(--accent-color);
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

/* Clients section styles */

ul.list.clients-section-list {
  display: inline-flex;
}

.clients-section-icon {
}

.clients-section-items {
  --grid-item: 6;
}

.clients-section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  fill: var(--common-text-color);
  border: 1px solid var(--common-text-color);
  border-radius: 4px;
  transition: fill, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section-link:hover,
.clients-section-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Portfolio page styles */

.filter-buttons {
  display: flex;
  justify-content: center;
}

.filter {
  padding-top: 94px;
  padding-bottom: 34px;
}

.filter-buttons .filter-buttons-item:not(:first-child) {
  margin-left: 8px;
}

.simple-button {
  display: inline-flex;
  background-color: var(--background-color-secondary);
  color: var(--important-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 75px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.simple-button:hover,
.simple-button:focus {
  background-color: var(--accent-color);
  color: var(--important-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.examples-set-items {
  border: 1px solid var(--borders-color);
  --grid-item: 3;
  transition-property: box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-set-items:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.examples {
  padding-bottom: 94px;
}

.product-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--important-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}

.product-description {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  color: var(--common-text-color);
}

.examples-link {
  text-decoration: none;
}

.examples-thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-overlay {
  display: block;
  position: absolute;
  padding: 63px 24px;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--important-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .card-overlay,
.examples-link:focus .card-overlay {
  transform: translateY(-100%);
}

/* footer styles */

.main-footer {
  background-color: var(--main-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
}

.studio-down {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--important-color);
}

.actual-address {
  color: var(--important-color);
  font-style: normal;
}

.footer-contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-structure {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.join {
  color: var(--important-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-info,
.footer-social-links {
  flex-basis: calc((50% - 45px) / 2);
}

.footer-subscribe {
  flex-basis: calc(50% - 30px);
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-button-item {
  position: relative;
}

.subscribe-button {
  margin-left: 12px;
  /* text-align: center; */
  background-color: var(--accent-color);
  color: var(--important-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px 62px 10px 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  transform: translateX(10px);
}

.subscribe-input {
  width: 358px;
  padding: 15px;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--main-color);
  border: 1px solid var(--common-text-color);
  border-radius: 4px;
}
